article{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: auto 93vh auto;
}

nav, footer{
    grid-column: 1 / span 2;
}

form{
    display: flex;
    flex-direction: column;

    padding: 50px 130px;

    background-color: var(--main-secondary);
}

form label{
    font-family: 'Puritan', sans-serif;
}

form p{
    font-family: "Oxygen", sans-serif;
}

form label, form p{
    margin-bottom: 5px;

    font-size: 20px;
    color: var(--main-white);
}

form input, form textarea{
    margin-bottom: 15px;
    padding: 10px;
    
    font-size: 15px;
    font-family: "Oxygen", sans-serif;
    background-color: var(--main-white);
    border: none;
}

form button{
    margin-top: 15px;
    margin-bottom: 15px;

    width: 10rem;
}

a{
    color: var(--main-secondary);
}

a:hover{
    color: var(--light-secondary);
}

a:active{
    color: var(--main-accent);
}

.contact-details{
    padding: 50px;
}

.contact-details p{
    padding: 15px;
}

@media (max-width: 900px){
    article{
        display: flex;
        flex-direction: column;
    }

    form{
        padding: 50px;
    }

    .contact-details{
        min-height: 30vh;
    }
}