article{
    display: grid;
    grid-template-columns: 3fr 4fr;
}

nav, footer{
    grid-column: 1 / span 2;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    text-align: justify;
}

.profile-image{
    grid-row: 2 / span 2;
    overflow: hidden;

    height: 93vh;
    width: 100%;
}

.profile-image img{
    position: relative;
    bottom: -3rem;
    left: -3rem;

    width: 100%;
    min-width: 650px;
    transform: scaleX(-1);
}

.profile-image .accent-field{
    position: absolute;
    bottom: 0px;
    left: 0px;

    background-color: var(--main-accent);
    width: 30%;
    height: 650px;
    z-index: -1;
}

.welcome-message{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: var(--main-dark);
}

@media (max-width: 900px){
    article{
        display: flex;
        flex-direction: column;
    }

    .welcome-message{ 
        order: 1; 
        height: 25vh;
    }

    .welcome-message h2{ font-size: 3em; }

    .card{ 
        order: 2; 
        justify-content: flex-start;
        min-height: 55vh;
    }

    footer{ order: 3; }

    .profile-image{ display: none; }
}