article{
    display: grid;
    grid-template-columns: minmax(autofit, 3fr) minmax(500px, 4fr);
}

nav, footer{
    grid-column: 1 / span 2;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile-image{
    grid-row: 2 / span 2;
    overflow: hidden;

    height: 93vh;
    width: 100%;
}

.profile-image img{
    position: relative;
    bottom: -3rem;
    left: -3rem;

    width: 100%;
    min-width: 650px;
    transform: scaleX(-1);
}

.profile-image .accent-field{
    position: absolute;
    bottom: 0px;
    left: 0px;

    background-color: var(--main-accent);
    width: 30%;
    height: 650px;
    z-index: -1;
}

.welcome-message{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: var(--main-dark);
}