article{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav{
    grid-column: 1 / span 2;

    background-color: blue;
}

footer{
    grid-column: 1 / span 2;
    background-color: green;
}

.profile-image{
    grid-row: 2 / span 2;

    background-color: red;
}

.profile-image img{
    width: 1000px;
}