@media screen and (min-width: 767px){
    .main-img-container{
        padding: 10px;
        overflow: hidden;
        
        height: 600px;
    }

    .support-img{
        padding: 10px;
        overflow: hidden;
    
        height: 200px;
    }

    img{
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
    }
}

@media screen and (max-width: 767px){
    .main-img-container, .support-img{
        margin: 10px;
    }
}