article{
    grid-template-columns: 1fr;
    grid-gap: 3rem;
}

a{
    color: var(--main-white);
}

/* Right Project */
.right-project{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-gap: 20px;
}

.right-project .title-card{
    grid-column: 5 / span 1;

    position: relative;
    left: 3rem;
}

.right-project .main-image{
    grid-column: 3 / span 3;
    grid-row: 2 / span 2;
    background-color: yellow;
}

.right-project .support-image{
    grid-column: 2 / span 1;
    background-color: red;
}

.right-project .description-card{
    grid-column: 1 / span 4;
}
.right-project .buttons{
    margin-left: 20px;
    grid-column: 1 / span 2;
}

/* Left Project */
.left-project{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-gap: 20px;
}

.left-project .title-card{
    grid-column: 2 / span 1;

    position: relative;
    right: 3rem;
}

.left-project .spacer{
    grid-column: 3 / span 3;
}

.left-project .main-image{
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
    background-color: yellow;
}

.left-project .support-image{
    grid-column: 5 / span 1;
    /* grid-row-start: 2; */
    background-color: red;
}

.left-project .description-card{
    grid-column: 3 / span 4;
}

.title-card{
    top: 3rem;
    padding: 15px;

    text-align: center;
    background-color: var(--main-secondary);
    color: var(--main-white);
}

.buttons button{
    margin-right: 20px;
    padding: 10px 30px;
    background-color: var(--main-secondary);
}

.buttons button:hover{
    background-color: var(--main-accent);
}

.main-image img{
    width: 500px;
}

.support-image img{
    width: 300px;
}