:root{
    --main-white: #F1F1EA;
    --main-dark: #474843;
    --main-secondary: #084B83;
    --main-accent: #DA4167;
    --light-dark: #74756E;
    --light-secondary: #399BD4;
}

/* General Style */
body{
    background-color: var(--main-white);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Orienta', sans-serif;
}

p, a {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

h1{
    font-size: 100px;
}

h2{
    font-size: 80px;
}

h3{
    font-size: 60px;
}

h4{
    font-family: 'Puritan', sans-serif;
    font-size: 40px;
}

h5{
    font-family: 'Puritan', sans-serif;
    font-size: 30px;
}

h6{
    font-family: 'Puritan', sans-serif;
    font-size: 20px;
}

button{
    padding: 10px;

    font-size: 20px;
    font-family: "Oxygen", sans-serif;

    background-color: var(--main-white);
    border: none;
}

button:hover{
    background-color: var(--main-accent);
}

nav, footer{ 
    height: 7vh;
    background-color: var(--main-dark);
    z-index: 10;
}

/* Elements */
.nav-links, .footer-links{
    display: flex;
    align-items: center;

    padding-left: 30px;
    height: 100%;
}

.nav-links a, .footer-links a{
    color: var(--main-white);
}

.nav-links{
    justify-content: space-between;
    width: 60%;
}

.nav-links .sub-header{
    font-family: "Puritan", sans-serif;
}

.nav-links :first-child a{
    font-size: 30px;
}

.ham-menu, .drop-menu{
    display: none;
}

.footer-links{
    justify-content: space-evenly;
}

.card{
    padding: 1rem 2rem;
    color: var(--main-white);
    background-color: var(--main-secondary);
}

.card p{
    padding: 1rem 0;
}

@media (max-width: 900px){
    .nav-links .sub-header{ display: none; }

    .nav-links{
        justify-content: space-between;
        width: 87vw;
    }

    /* Hamburger Icon */
    .ham-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        width: 2.2rem;
        height: 2.5rem;
    }

    .ham-bar{
        width: 100%;
        height: 7%;
        background-color: var(--main-white);
    }

    /* Dropdown Menu */
    .drop-menu{
        flex-direction: column;
        align-items: flex-end;

        position: absolute;
        right: 0;

        width: 10rem;
        background-color: var(--light-dark);
    }

    .drop-menu .sub-header{
        padding: 1.5rem;
    }

    .drop-menu a{
        color: var(--main-white);
        font-family: "Puritan", sans-serif;
    }
}